body {
  font-family: Arial;
  text-align: center;
  margin: 0;
  padding: 20px;
  background-color: antiquewhite;
}

p {
  color: purple;
  text-align: center;
}

h1 {
  color: darkcyan;
}
